form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
    margin: auto;
    margin-top: 4rem;
    background-color: gold;
    padding: 3rem;
    border-radius: 1rem;
}

.inputitem{
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid gray;
    width: 50%;
}

.btn{
    padding: 0.5rem 3rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}